@font-face {
    font-family: Ruberoid;
    src: url(./font/Ruberoid-Bold.ttf);
}
@font-face {
    font-family: Ruberoid;
    src: url(./font/Ruberoid-Medium.ttf);
}@font-face {
    font-family: Ruberoid;
    src: url(./font/Ruberoid-Regular.ttf);
}@font-face {
    font-family: Ruberoid;
    src: url(./font/Ruberoid-ExtraBold.ttf);
}@font-face {
    font-family: Ruberoid;
    src: url(./font/Ruberoid-SemiBold.ttf);
}